body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans';

}
h1,h2,h3,h4,h5,p{
    margin: 0;
    padding: 0;   
}
.container{
    width: 1140px;
    padding:30px ;
    margin: 0 auto;
}  
.header{
    background: #FFFFFF;
    border-bottom: 1px solid #EEEEF4;
}
.navbar{
    display: flex;
    align-items: center;   
}
.menu{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 30px;
   
    
}
.list{
    text-decoration: none;
    color:  #101010;
}
.coll-center-style{
    
    padding: 10px;
    background-color: #101010;
    color: #fff;
    border-radius: 6px;
    border: none;
    text-decoration: none;
}
.wrapper{
    display: flex;
    align-items: center;
    margin: 91px 0;
}
.iframe{
    border-radius: 6px;
}
.section-hero{
    background: #F2F4F6;
}
.title-hero{
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 140%;
text-align: center;
color: #101010;
}
.main-heading{
    margin-bottom: 20px;
    font-size: 56px;
}
.main-btn{
    margin-top: 40px;
    padding: 20px;
    color: #fff;
    background: #1AAB7B;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
.box{
    display: flex;
    flex-wrap: wrap;

}
.card{
    width: 310px;
    height: 358px;
    padding: 16px;
    margin: 0px 32px 30px 0px;
    border: 1px solid #EEEEF4;
    border-radius: 6px;
    transition: 1s;
    cursor: pointer;
}
.title{
    font-size: 32px;
}
.img-logo{
    background-color: #fff;
    border-radius: 50%;
}
.card-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.card:hover{
    background-color: #1AAB7B;
    color: #fff;
}

.mini-title{
    margin-top: 50px;
    width: 108px;
    font-size: 20px;
    border-bottom: 1px solid #fff;
}

.text-hero{
 font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;
text-align: center;
color: #636F87;
}
.child{
    display: flex;
    align-items: center;
    margin-top: 100px;
}
.child-right{
    margin: 20px 32px;
}
.child-left{
    margin: 20px 32px;
}
.child-title{
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 140%;
color: #101010;
}
.text{
 font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;
color: #636F87;
}
.last-title{
    margin: 100px 0 52px 0;
}


.form-box{
    background: #F2F4F6;
    border-radius: 6px;
    margin-bottom: 200px;
}
.username-style{
    display: flex;
    align-items: center;
    padding: 30px;
    background-color: #F2F4F6;
    border: none;
    text-decoration: none;
}
.input-style{
    margin: auto;
    border-bottom: 1px solid #000;
    width: 384px;
    padding: px;
}
.btn-style{
    margin: 60px auto;
    display: flex;
    justify-content: center;
    padding: 23px;
     color: #fff;
    background: #1AAB7B;
    border-radius: 6px;
    border: none;
}
.footer{
    background-color: #101010;
}

.heding-footer{
    margin-bottom: 30px;
    color: #fff;
}
.menu-footer{
    list-style-type: none;

}
.list-footer{
    text-decoration: none;
    color: #A1A8B7;
}
.footer-top-left{
    display: flex;

}
.footer-top{
    display: flex;
    justify-content:space-between ;
    border-bottom: 1px solid  #3B4155;
}
.icons-style{
    margin: 25px;
    padding: 10px;
}
.footer-page{
color: #F2F4F6;
}
 
.footer-bottom{
    display: flex;
    justify-content: space-between;
 }






